<div class="about-me">
  <div class="info">
  <p>
    I am a fifth year Ph.D. candidate in the Department of Computer Science at the University of Southern California (USC), 
    where I am advised by <a href="https://www.isi.edu/~mirkovic/" target="_blank">Jelena Mirkovic</a>. 
    My research spans across different fields of knowledge, including cybersecurity, privacy, machine learning, and human-computer interaction. 
  </p>
  <p>
    I study complex problems at the intersection of humans and cybersecurity, 
    with a particular interest in human perceptions, behaviors, and the usability of online security and privacy. 
    To tackle these problems, I draw on my experience as a researcher and scientist, 
    using a combination of quantitative methods such as surveys and automated approaches like web scraping to collect data at scale. 
    I then apply descriptive and inferential statistical analyses to gain deeper insights, 
    and in some cases, develop predictive models to uncover patterns or relationships that can be applied to larger-scale measurement. 
    Through this process, I produce insighful findings of security and privacy solutions 
    that are not only more usable but also provide stronger protection and better experiences for users. 
  </p>
  <!-- <p>
    In addition to my primary research in security and privacy, I also have coorporate experiences in other areas, 
    including computer networks, natural language processing (NLP), large language models (LLMs), 
    optimization, and entity resolution, primarily through research internships at AT&T, Amazon, and PayPal.
  </p> -->
  <p>
    <span class="highlight">🚀 I am actively seeking full-time opportunities starting in Summer 2026.</span>
  </p>
  </div>
</div>
