<div class="about-me">
  <div class="info">
  <p>
  Hi! Welcome to my homepage. I am a first year Ph.D. student in the Department of Computer Science at University of Southern California (USC), where I am advised by <a href="https://www.isi.edu/~mirkovic/" target="_blank">Jelena Mirkovic</a>. Previously, I earned my M.S. in Computer Science, specialization in Computer Networks, at USC and B.S. in Computer Engineering at <a href="https://www.cpe.ku.ac.th/?lang=en" target="_blank">Kasetsart University</a>.
  </p>
  <p>
My research interests lie in the areas of computer security and privacy. Specifically, my work brings in data and mathematical models to better understand human aspects of cybersecurity as well as uncover today sophisticated threats.
  </p>
  <p>
Recently, I also interested in NLP and its applications such as text classification and dialogue systems. I found these applications appealing for the problem I am currently working on in social engineering attacks like spam and phishing.
  </p>
  </div>
</div>
