<div class="about-me">
  <div class="info">
  <p>
  I am a fourth year Ph.D. candidate in the Department of Computer Science at the University of Southern California (USC), where I am advised by <a href="https://www.isi.edu/~mirkovic/" target="_blank">Jelena Mirkovic</a>. 
  My research spans across different fields of knowledge, including cybersecurity, privacy, machine learning, and human-computer interaction. Specifically, I focus on understanding human behaviors and perceptions related to cybersecurity. My goal is to apply these insights to improve users' digital security experiences as well as ensure their privacy.
  </p>
  </div>
</div>
