<div class="news">
  <h4 class="header">News</h4>
    <ul class="info">
      <li><span class="date">2021/11</span>: Our Venmo bug report is validated and a bounty is awared on <a href="https://www.hackerone.com/" target="_blank">HackerOne</a>, as part of the PayPal Bug Bounty program.</li> 
      <li><span class="date">2021/8</span>: I am starting my first semester as a PhD student at USC.</li> 
      <li><span class="date">2021/5</span>: Our cloud misbehavior work features on ISI news. <a href="https://www.isi.edu/nc/news/40142/cloudy-with-a-chance-of-misbehavior-researching-malicious-traffic-originating-from-cloud-machines" target="_blank">Check it out!</a></li>
      <li><span class="date">2020/11</span>: "Quantifying Cloud Misbehavior", work by <a href="https://steel.isi.edu/members/rajattan/" target="_blank">Rajat Tandon</a> for which I am a co-author, has been accepted to IEEE CloudNet2020</li>
    </ul>
</div>
