.news {
  max-width: 760px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header {
  margin: 5px 0;
}

.info {
  margin-top: 0px;
  padding: 10px 30px;
  list-style-type: circle;
  font-size: 16px;
  height: 390px;
  overflow: scroll;
  border: 2px #DCDCDC solid;
  border-radius: 19px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #6eb5ff;
}

span.date {
  color: black;
  font-weight: bold;
}
