.card {
  max-width: 760px;
  height: auto;
  margin: auto;
  display: block;
}

.profile-image {
  max-width: 280px;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
}

.info {
  max-width: 460px;
  padding: 10px;
  display: inline-block;
}

h1 {
  margin: 10px 0;
}

p {
  font-size: 18px;
}

p a {
  color: black;
  text-decoration:none;
}

.link {
  font-size: 16px;
  display: inline-block;
}

.link a {
  color: black;
  text-decoration:none;
}

.icon {
  margin-left: 6px;
  margin-right: 20px;
}

