<div class="card">
  <img [src]="imagePath" alt="profile" class="profile-image">
  <div class="info">
    <h1>Pithayuth (Will) Charnsethikul</h1>
    <p>พิทยุตม์ ชาญเศรษฐิกุล</p>
    <p><a href="https://www.cs.usc.edu/" target="_blank">Department of Computer Science</a></p>
    <p><a href="https://www.usc.edu/" target="_blank">University of Southern California</a></p>
    <div class="link"><a href="mailto:charnset@usc.edu">Email</a><fa-icon class="icon" [icon]="faEnvelope"></fa-icon></div>
    <div class="link"><a href="https://www.linkedin.com/in/pithayuth-charnsethikul-0264041a6/" target="_blank">Linkedin</a><fa-icon class="icon" [icon]="faLinkedin"></fa-icon></div>
    <div class="link"><a href="https://github.com/charnset" target="_blank">Github</a><fa-icon class="icon" [icon]="faGithub"></fa-icon></div>
    <div class="link"><a href="../../assets/July_22_2022_Pithayuth_PhD_CV.pdf" target="_blank">Resume</a><fa-icon class="icon" [icon]="faFile"></fa-icon></div>
  </div>
</div>
