<div class="misc">
  <h4 class="header">Misc.</h4>
    <ul class="info">
      <li>I was born and raised in Thailand with my big brother and my little sister. My parents both are professors at Kasetsart University. They have made a major contribution to Thai academia for decades. I was (and still am) proud of their work and that is essentially why I choose to do a PhD.</li>
      <li>Why Will? Because Thai names are generally long. Ergo, we tend to call each other by a nickname. My mum named me "Will" because "Will" can also mean "Determination" and she wish I would have "Determination" in whatever I choose to do.</li>
      <li>I am a sport enthusiast. I watch and play many sports since I was a kid. In my free time, I enjoy playing soccer, tennis, skiing, running and swimming. In fact, I entered my undergraduate admission through a student athlete program as a swimmer. I played for 4 years and won a few medals in the national university game.</li>
      <li>I have practiced piano for years and eventually passed the Trinity Grade 8 in 2017. Unfortunately, I have not played piano ever since I came to the US. I, however, start playing guitar and now I can fingerstyle as well as strum and sing!</li>
      <li>I am a huge fan of Liverpool FC. YNWA!</li>
      <li>I love watching movies. My favorite genres are crime and drama. The Godfather is my all time favorite movie, "Salute, Don Corleone!". My favorite director is Martin Scosese, especially his work with Robert De Niro and Leonardo DiCaprio.</li>
    </ul>
</div>
