<app-profile-card></app-profile-card>

<div class="nav-bar">
  <a href="#about-me" class="jump">About Me</a> /
  <a href="#news" class="jump">News</a> /
  <a href="#education" class="jump">Education</a> /
  <a href="#experience" class="jump">Experience</a> /
  <a href="#publications" class="jump">Publications</a> /
  <a href="#misc" class="jump">Misc.</a>
</div>

<app-about-me id="about-me"></app-about-me>
<app-news id="news"></app-news>
<app-education id="education"></app-education>
<app-experience id="experience"></app-experience>
<app-publications id="publications"></app-publications>
<app-misc id="misc"></app-misc>

<div class="footnote">
Last update: 2025/09
</div>
