.publications {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header {
  margin: 5px 0;
  padding-left: 30px;
}

.info {
  margin-top: 0px;
  padding: 0px 60px;
  list-style-type: circle;
  font-size: 12px;
}

li {
  font-size: 12px;
}

span.authors {
  color: black;
  font-size: 10px;
}

.source {
  margin-bottom: 10px;
}

button {
  font-size: 9px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
