<div class="publications">
  <h4 class="header">Publications</h4>
    <ul class="info">
      <li><b>Quantifying Cloud Misbehavior</b></li>
      <span class="authors">Rajat Tandon, Jelena Mirkovic, <b style="font-size: 12px">Pithayuth Charnsethikul</b></span>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/cloudnet2020.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/cloudnet2020.bib')" type="button">CITE</button>
      </div>
    </ul>
</div>
