<div class="publications">
  <h4 class="header">Publications</h4>
    <ul class="info">
      <li><b>I know what you did on Venmo: Discovering privacy leaks in mobile social payments</b>, PETS2022</li>
      <span class="authors">Rajat Tandon, <b class="author-me">Pithayuth Charnsethikul</b>, Ishank Arora, Dhiraj Murthy, Jelena Mirkovic</span>
      <div class="source">
        <button (click)="getPaperPDF('TBD')" type="button">PDF</button>
        <button (click)="getPaperCite('TBD')" type="button">CITE</button>
      </div>

      <li><b>Old but Gold: Prospecting TCP to Engineer and Live Monitor DNS Anycast</b>, PAM2022</li>
      <span class="authors">Giovane C. M. Moura, John Heidemann, Wes Hardaker, <b class="author-me">Pithayuth Charnsethikul</b>, Jeroen Bulten, João M. Ceron and Cristian Hesselman</span>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/pam2022.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/pam2022.bib')" type="button">CITE</button>
      </div>

      <li><b>Quantifying Cloud Misbehavior</b>, CloudNet2020</li>
      <span class="authors">Rajat Tandon, Jelena Mirkovic, <b class="author-me">Pithayuth Charnsethikul</b></span>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/cloudnet2020.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/cloudnet2020.bib')" type="button">CITE</button>
      </div>


    </ul>
</div>
