<div class="publications">
  <h4 class="header">Publications</h4>
    <ul class="info">
      <li>Navigating Social Media Privacy: Awareness, Preferences, and Discoverability, PETS2025, Issue 4</li>
      <span class="authors">Pithayuth Charnsethikul, Almajd Zunquti, Gale Lucas, Jelena Mirkovic</span>
      <div>
        <b>
          <span class="highlight">Acceptance Rate : 20.00% (45/225), <a href="https://petsymposium.org/artifact-award.php" target="_blank">Artifact Award (Runner-up)</a></span>
        </b>
      </div> 
      <div class="source">
        <button (click)="getPaperPDF('../../assets/popets2025.pdf')" type="button">PDF</button>
        <button type="button">CITE</button>
        <a href="https://github.com/STEELISI/Social-Media-Privacy-Awareness-Preferences-Discoverability/tree/81bf39637d8877b23ab6a881c9941e1013c5a651" target="_blank">
          <button type="button">CODE</button>
        </a>
      </div>

      <li>Puppeteer: Crafting a Large Language Model for Scambaiting, HICSS2025</li>
      <span class="authors">Pithayuth Charnsethikul, Jelena Mirkovic, Rishit Saiya, Jeffrey Liu, Benjamin Crotty,  Genevieve Bartlett</span>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/hicss2025.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/hicss2025.bib')" type="button">CITE</button>
      </div>

      <li>AMON-SENSS: Scalable and Accurate Detection of Volumetric DDoS Attacks at ISPs, GLOBECOM2022</li>
      <span class="authors">Rajat Tandon, Pithayuth Charnsethikul, Michalis Kallitsis, Jelena Mirkovic</span>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/globecom2022.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/globecom2022.bib')" type="button">CITE</button>
      </div>

      <li>I know what you did on Venmo: Discovering privacy leaks in mobile social payments, PETS2022, Issue 3</li>
      <span class="authors">Rajat Tandon, Pithayuth Charnsethikul, Ishank Arora, Dhiraj Murthy, Jelena Mirkovic</span>
      <div>
        <b>
          <span class="highlight">Acceptance Rate : 21.02% (33/157)</span>
        </b>
      </div>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/popets2022.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/popets2022.bib')" type="button">CITE</button>
      </div>

      <li>Old but Gold: Prospecting TCP to Engineer and Live Monitor DNS Anycast, PAM2022 </li>
      <span class="authors">Giovane C. M. Moura, John Heidemann, Wes Hardaker, Pithayuth Charnsethikul, Jeroen Bulten, João M. Ceron and Cristian Hesselman</span>
      <div>
        <b>
          <span class="highlight">Best Paper Award</span>
        </b>
      </div>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/pam2022.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/pam2022.bib')" type="button">CITE</button>
      </div>

      <li>Quantifying Cloud Misbehavior, CloudNet2020</li>
      <span class="authors">Rajat Tandon, Jelena Mirkovic, Pithayuth Charnsethikul</span>
      <div class="source">
        <button (click)="getPaperPDF('../../assets/cloudnet2020.pdf')" type="button">PDF</button>
        <button (click)="getPaperCite('../../assets/cloudnet2020.bib')" type="button">CITE</button>
      </div>


    </ul>
</div>
