.publications {
  max-width: 760px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header {
  margin: 5px 0;
}

.info {
  margin-top: 0px;
  padding: 0px 30px;
  list-style-type: circle;
  font-size: 16px;
}

li {
  font-size: 16px;
}

span {
  display: inline-block;
}

span.authors {
  color: black;
  font-size: 14px;
}

.author-me {
  font-size: 16px;
}

.source {
  margin-bottom: 10px;
}

button {
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.highlight {
  background-color: #f3f0fa;
  color: #5a4e7c;
  border-radius: 4px;
  padding: 2px 6px;
  font-weight: bold;
}
