<div class="education">
  <h4 class="header">Education</h4>
    <ul class="info">
      <li><span class="year">2021-2026 (Expected)</span>:  University of Southern California</li> 
      <span class="major">Ph.D. in Computer Science</span>
      <li><span class="year">2019-2021</span>: University of Southern California</li>
      <span class="major">M.S. in Computer Science, Specialization: Computer Networks</span>
      <li><span class="year">2014-2018</span>: Kasetsart University</li>
      <span class="major">B.S. in Computer Engineering</span>
    </ul>
</div>
