.education {
  max-width: 760px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header {
  margin: 5px 0;
}

.info {
  margin-top: 0px;
  padding: 0px 30px;
  list-style-type: circle;
  font-size: 12px;
}

span.year {
  color: black;
  font-weight: bold;
}

span.major {
  display: block;
  margin-bottom: 10px;
}
