<div class="experience">
  <h4 class="header">Experience</h4>
    <ul class="info">
      <li><span class="year">2024</span>: Cybersecurity Research Intern at PayPal</li>
      <span class="lab">Fraud Science & Intelligence, Global Investigations, Mentor: Blake Butler</span>
      <li><span class="year">2023</span>: Applied Scientist Intern at Amazon</li>
      <span class="lab">SCOT-IPC: Specialized Selection</span>
      <li><span class="year">2022</span>: Technical Intern II at AT&T Labs Research</li>
      <span class="lab">Mentor: Dr. Anestis Karasaridis</span>
      <li><span class="year">2021-present</span>: Graduate Research Assistant at USC ISI, Marina Del Rey, California</li>
      <span class="lab">STEEL: Security Research Lab, Advisor: Prof. Jelena Mirkovic</span>
      <li><span class="year">2019-2021</span>: Student Worker, Research at USC ISI, Marina Del Rey, California</li>
      <span class="lab">STEEL: Security Research Lab, Advisor: Prof. Jelena Mirkovic</span>
      <li><span class="year">2018</span>: Research Assistant at Kasetsart University, Bangkok, Thailand</li>
      <span class="lab">Intelligent Wireless Network Group (IWING), Advisor: Prof. Anan Phonphoem, Prof. Chaiporn Jaikaeo and Prof. Aphirak Jansang</span>
    </ul>
</div>
